# wmllint: no translatables

# Scenario events – giving ai different units for recruitment.

[event]
    name=turn 3

    [gold]
        side=5,6
        amount=6
    [/gold]
[/event]

[event]
    name=turn 6

    [gold]
        side=7,8
        amount=6
    [/gold]

    [allow_recruit]
        side=7,8
        type=Soulless
    [/allow_recruit]
[/event]

[event]
    name=turn 7

    [allow_recruit]
        side=3,4
        type=Soulless
    [/allow_recruit]
[/event]

[event]
    name=turn 8

    [allow_recruit]
        side=5,6
        type=Goblin Rouser
    [/allow_recruit]
[/event]

[event]
    name=turn 9

    [allow_recruit]
        side=7,8
        type=Skeleton
    [/allow_recruit]

    [if]
        [have_unit]
            id=mageguard
        [/have_unit]
        [then]
            [store_side]
                side=8
                variable=side
            [/store_side]

            [modify_side]
                side=8
                # From now on the mageguard cannot anymore be paid by support money.
                # Increase of income by 1 (because base_income is 2 more than income it is -1)
                income="$($side.base_income-1)"
            [/modify_side]

            {CLEAR_VARIABLE side}
        [/then]
    [/if]
[/event]

[event]
    name=turn 11

    [allow_recruit]
        side=7,8
        type=Skeleton Archer
    [/allow_recruit]
[/event]

[event]
    name=turn 13

    [disallow_recruit]
        side=7,8
        type=Walking Corpse,Soulless
    [/disallow_recruit]
    [disallow_recruit]
        side=5,6
        type=Goblin Spearman
    [/disallow_recruit]
    [disallow_recruit]
        side=3,4
        type=Walking Corpse
    [/disallow_recruit]
[/event]

[event]
    name=turn 15

    [allow_recruit]
        side=7,8
        type=Dark Adept
    [/allow_recruit]
[/event]

[event]
    name=turn 17

    [gold]
        side=7,8
        amount=50
    [/gold]

    [allow_recruit]
        side=7
        type=Necrophage,Bone Shooter,Revenant
    [/allow_recruit]
    [allow_recruit]
        side=8
        # Deathblade can move farther in deep water.
        type=Necrophage,Bone Shooter,Deathblade
    [/allow_recruit]

    # Make first one weaker, in case it is too strong.
    [event]
        name=prerecruit
        first_time_only=yes
        [filter]
            type=Deathblade
            side=8
        [/filter]

        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            {TRAIT_WEAK}
        [/modify_unit]
    [/event]
[/event]

[event]
    name=turn 18

    [allow_recruit]
        side=3,4
        type=Skeleton,Skeleton Archer
    [/allow_recruit]

    # Increase each turn side 7 and 8 income by 1 gold.
    [event]
        name=side 7 turn,side 8 turn
        first_time_only=no

        [store_side]
            side="$side_number"
            variable=side
        [/store_side]
        # [store_side]base_income is the income without villages and upkeep.
        # [modify_side]income is the value from the WML file, always 2 less.
        # thus -1 instead of +1 to increase by 1
        [modify_side]
            side="$side_number"
            income="$($side.base_income-1)"
        [/modify_side]
        {CLEAR_VARIABLE side}
    [/event]
[/event]

[event]
    name=turn 20

    # Income boost, because L2 units are more expensive.
    [store_side]
        side=7,8
        variable=ai_sides
    [/store_side]
    [foreach]
        array=ai_sides
        variable=this_side
        [do]
            [modify_side]
                side=$this_side.side
                # Is actually an +5 increase, it's 2 higher.
                income="$($this_side.base_income+3)"
            [/modify_side]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE ai_sides}
[/event]

[event]
    name=turn 26 # (or 28)
    [filter_condition]
        [have_unit]
            side=5
            type=Chocobone
        [/have_unit]
        [or]
            {VARIABLE_CONDITIONAL turn_number greater_than 27}
        [/or]
    [/filter_condition]

    [gold]
        side=7
        amount=25
    [/gold]

    [allow_recruit]
        side=7
        type=Chocobone
    [/allow_recruit]

    # Give it the same trait like the other one.
    [event]
        name=prerecruit
        first_time_only=yes
        [filter]
            side=7
            type=Chocobone
        [/filter]
        [filter_condition]
            [have_unit]
                side=5
                type=Chocobone
            [/have_unit]
        [/filter_condition]

        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            {TRAIT_WEAK}
        [/modify_unit]
    [/event]
[/event]

[event]
    name=turn 28 # Afternoon.

    [gold]
        side=7
        amount=25
    [/gold]
    [gold]
        side=8
        amount=50
    [/gold]

    # Side 8 receives units which can move better in water, with more than 5 MP.
    [allow_recruit]
        side=7
        type=Dark Sorcerer
    [/allow_recruit]
    [allow_recruit]
        side=8
        type=Lich
    [/allow_recruit]
    [if]
        [have_unit]
            side=1,2
            race=undead,drake
        [/have_unit]
        [then]
            [allow_recruit]
                side=8
                type=Wraith
            [/allow_recruit]
        [/then]
        [else]
            [allow_recruit]
                side=8
                type=Shadow
            [/allow_recruit]
        [/else]
    [/if]
[/event]

[event]
    name=turn 34

    [gold]
        side=7,8
        amount=30
    [/gold]

    [allow_recruit]
        side=7
        type=Necromancer
    [/allow_recruit]
    [allow_recruit]
        side=8
        type=Wraith,Shadow
    [/allow_recruit]

    [store_side]
        side=7,8
        variable=ai_sides
    [/store_side]
    [foreach]
        array=ai_sides
        variable=this_side
        [do]
            [modify_side]
                side=$this_side.side
                # +1 income. Should be now turn_number = income.
                income="$($this_side.base_income-1)"
            [/modify_side]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE ai_sides}
[/event]
